body {
    margin: 0;
    padding: 0;
}

#slider {
    list-style: none;
    width: 80%;
    overflow: hidden;
    position: relative;
}

#slider li {
    display: inline-block;
    width: 80%;
}

#slider ul {
    padding: 0;
}

#controlPrev,
#controlNext {
    position: absolute;
    top: 49%;
}

#controlNext {
    right: 2%;
}

#controlPrev {
    left: 2%;
}

.images li {
    overflow: hidden;
    float: left;
}

.triggers {
    list-style: none;
    text-align: center;
}

#slider .triggers li.current {
    background: orange;
}

#slider .triggers li {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background: #939393;
}

