<div id="slider">
    <ul class="images">
        {{#each initSlider}}
            <li class="{{ this.class }}">
                <img src="{{ this.path }}" alt="{{ this.name }}"/>
            </li>
        {{/each}}
    </ul>
    <ul class="triggers">
        {{#each slides}}
            <li id="trigger{{this.id}}"></li>
        {{/each}}
    </ul>
    <span id="controlPrev"></span>
    <span id="controlNext"></span>
</div>
<div id="container"></div>